body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  text-align: center;
  background-color: #cb413e;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.choiceButton {
    background-color: #cb413e;
    padding: 30px;
    margin: 10px;
}

  .question {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .choices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
  }

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
.navButton {
  padding: 20px;
  margin: 0px;
  font-size: 1rem;
  background-color: #cb413e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: black;
}

.selected {
  background-color: yellow;
}

