body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
nav {
    text-align: center;
    background-color: #cb413e;
}
  h1 {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  .navButton {
    padding: 20px;
    margin: 0px;
    font-size: 1rem;
    background-color: #cb413e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navButton:hover {
    background-color: black;
  }
  
  #choices {
    display: flex;
    justify-content: center;
  }

  #submitButton {
    background-color: #28a745;
    color: white;
  }

  .selected {
    background-color: yellow;
  }
  
  /* results page css */
  .quiz-answer-container {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 600px;  
    height: 160px; 
}

  .quiz-answer-percent h1 {
    color: #007bff; 
    margin-bottom: 0.5em;
  }
  
  .quiz-answer-percent h3 {
    color: #28a745; 
  }
  
  #quiz-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .quiz-answer-percent h1 {
    color: #007bff; 
    margin-bottom: 0.5em;
  }
  
  .quiz-answer-percent h3 {
    color: #28a745; 
  }
  
  #quiz-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  #quiz-link:hover {
    color: #0056b3; 
    text-decoration: underline;
  }
  
  /* .quiz-answer-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */
  


nav {
  text-align: center;
  background-color: #cb413e;
}

/* Login box CSS */
.login-box,
.quiz-answer-container{
  border:5px solid;
  position:absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
}
.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-box input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #0e0808;
  border-radius: 5px;
}
.login-box input[type="text"]:hover {
  background:#7b887c96;
}

.login-box input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.login-box input[type="submit"]:hover {
  background: #555;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.choiceButton {
    background-color: #cb413e;
    padding: 30px;
    margin: 10px;
}

  .question {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .choices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
  }

  .correct{
    color: green;
  }
  
  .wrong{
    color: red;
  }

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
.navButton {
  padding: 20px;
  margin: 0px;
  font-size: 1rem;
  background-color: #cb413e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: black;
}

.selected {
  background-color: yellow;
}

/* results page css */
/* .quiz-answer-container {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  width: 600px;
  height: 160px; 
} */

.quiz-answer-percent h1 {
  color: #007bff; 
  margin-bottom: 0.5em;
}

.quiz-answer-percent h3 {
  color: #28a745; 
}

#quiz-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}


.quiz-answer-percent h1 {
  color: #007bff; 
  margin-bottom: 0.5em;
}

.quiz-answer-percent h3 {
  color: #28a745; 
}

#quiz-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#quiz-link:hover {
  color: #0056b3; 
  text-decoration: underline;
}

.quiz-answer-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}