body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
nav {
    text-align: center;
    background-color: #cb413e;
}
  h1 {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  .navButton {
    padding: 20px;
    margin: 0px;
    font-size: 1rem;
    background-color: #cb413e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navButton:hover {
    background-color: black;
  }
  
  .selected {
    background-color: yellow;
  }
  